<div class="main">

  <section class="summary">

    <section class="date">
      <h1 (click)="picker.open()">{{date | date:'longDate'}}
        <input class="hidden-date-input" [matDatepicker]="picker" [formControl]="dateInput">
        <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </h1>
      <h2>{{date | date:'EEEE'}}</h2>
    </section>

    <div class="ratings">
      <section class="rating rating-mood">
        <h2>Mood</h2>
        <bar-rating [(rate)]="mood" [max]="5" [theme]="'mood'" (rateChange)="updateMood($event)"
          [titles]="['None', 'Depressed', 'Glum', 'Neutral' , 'Content', 'Ecstatic']"></bar-rating>
      </section>

      <section class="rating rating-fitness">
        <h2>Fitness</h2>
        <bar-rating [(rate)]="fitness" [max]="5" [theme]="'fitness'" (rateChange)="updateFitness($event)"
          [titles]="['None', 'Ill', 'Poor', 'Average' , 'Good', 'Spirited']"></bar-rating>
      </section>
    </div>

    <div class="weight">
      <ol *ngIf="diary?.weightMeasurements?.length > 0">
        <li *ngFor="let measurement of diary.weightMeasurements">
          {{measurement.measuredOn}}: {{measurement.weight}}
        </li>
      </ol>
    </div>

    <section class="buttons">
      <button mat-raised-button color="accent" (click)="addPortion()">
        Add Portions
      </button>
      <button *ngIf="diary" mat-raised-button color="warn" (click)="deleteAll()">
        Erase
      </button>
    </section>

  </section>

  <section class="container">

    <section class="loading-notice" *ngIf="loading || (!settings); else contents">
      <h4>loading results</h4>
      <mat-spinner></mat-spinner>
    </section>

    <ng-template #contents>

      <ng-container *ngIf="diary?.hasContents; else noMeals">

        <app-long-portions-list (deletePortionsEvent)="deletePortions($event)">
        </app-long-portions-list>

      </ng-container>

      <ng-template #noMeals>
        <mat-card class="no-meals"><span>No recorded meals</span></mat-card>
      </ng-template>
    </ng-template>
  </section>
</div>