<form [formGroup]="mainFormGroup" (ngSubmit)="save()">
    <section class="dialog" mat-dialog-content>
        <mat-form-field class="ingredient-row-name" appearance="outline">
            <mat-label>Food Name</mat-label>
            <input matInput [matAutocomplete]="auto" type="text" [formControl]="foodInput"
                (blur)="checkMissingPortion()">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFood"
                (optionSelected)="quantityEditor.focus()">
                <mat-option *ngFor="let resource of (filteredFoods$ | async)" [value]="resource">{{resource.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <app-quantity-editor [disabled]="addingRecipe" [initialValue]="0"></app-quantity-editor>
        <mat-select [formControl]="mealSelector" class="meal-selector">
            <mat-option *ngFor="let meal of PossibleMeals" [value]="meal">
                {{meal}}
            </mat-option>
        </mat-select>
    </section>
    <section class="errors">
        <mat-error *ngIf="hasQuantityError">{{quantityEditor.error}}</mat-error>
        <mat-error *ngIf="isMissingPortion">No such food, create <a [routerLink]="['/foods/add']"
                (click)="dialogRef.close()" [state]="{ foodName: foodInput.value }">{{foodInput.value}}</a></mat-error>
    </section>

    <section mat-dialog-actions class="actions">
        <button mat-flat-button mat-dialog-close>Dismiss</button>
        <button type="submit" mat-flat-button color="accent" [disabled]="!saveable">Save</button>
    </section>
</form>