.dialog {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  min-width: 20rem;
  max-width: 40rem;
}

.food-name {
  flex-grow: 5;
  color: inherit;
  text-decoration: none;
}

.spacer {
  width: 4rem;
  flex-grow: 0;
  margin-left: 2rem;
  margin-right: 2rem;
}

.meal-selector {
  flex-grow: 0;
  width: 6rem;
}

.errors {
  height: 1.5rem;
  width: 100%;
  text-align: center;
  font-style: italic;
}

.actions {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}
