mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100vh;
}

mat-sidenav {
  min-width: 25ch;
}

.avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.avatar mat-icon {
  padding: 4px;
}

.avatar span {
  font-size: 120%;
  padding: 16px;
}
