<app-toolbar>
    <h4 title>Settings</h4>

    <section desktop-actions>
        <button mat-raised-button color="accent">
            Reset Defaults
        </button>
    </section>

    <section mobile-actions>
        <button mat-icon-button>
            <mat-icon>reset</mat-icon>
        </button>
    </section>
</app-toolbar>

<section class="settings">
    <form [formGroup]="summaryGroup">
        <h4 class="settings-header">Diary Summary</h4>
        <section class="setting-item">
            <div class="setting-label">
                <h5 class="setting-label-title">Colour Macronutrients</h5>
                <h6 class="setting-label-caption">Highlight protein, carbohydrates and fats aggregates with different
                    colours</h6>
            </div>
            <mat-slide-toggle [color]="'primary'" formControlName="useMacroColours"></mat-slide-toggle>
        </section>
        <section class="setting-item">
            <div class="setting-label">
                <h5 class="setting-label-title">One Meal Focus</h5>
                <h6 class="setting-label-caption">Collapse meals that aren't focused</h6>
            </div>
            <mat-slide-toggle [color]="'primary'" [checked]="false"></mat-slide-toggle>
        </section>

        <mat-divider></mat-divider>

        <div class="setting-item setting-item-column">
            <div class="setting-label">
                <h5 class="setting-label-title">Large Column Set</h5>
                <h6 class="setting-label-caption">The initial column set that will show initially on large screens
                </h6>
            </div>
            <mat-select formControlName="largeColumnSet" required>
                <mat-option *ngFor="let column of largeColumnSet | keyvalue" [value]="column.key">
                    {{column.value}}
                </mat-option>
            </mat-select>
        </div>

        <div class="setting-item setting-item-column">
            <div class="setting-label">
                <h5 class="setting-label-title">Small Column Set</h5>
                <h6 class="setting-label-caption">The initial column set that will show initially on small screens
                </h6>
            </div>
            <mat-select formControlName="smallColumnSet" required>
                <mat-option *ngFor="let column of smallColumnSet | keyvalue" [value]="column.key">
                    {{column.value}}
                </mat-option>
            </mat-select>
        </div>
    </form>

</section>