.settings {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 20rem;
}
.settings-header {
  margin-left: 0px;
}

.setting-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.setting-item-column {
  flex-direction: column;
  align-items: baseline;
}

mat-select {
  width: 18ch;
  margin-top: 0.5rem;
  font-size: 80%;
}

mat-divider {
  margin-bottom: 1rem;
}

.setting-label {
  flex: 1 1 auto;
}

.setting-label-title {
  margin: 0;
  margin-bottom: 0.5rem;
}

.setting-label-caption {
  margin: 0;
  font-weight: normal;
  font-size: 80%;
  font-style: italic;
  color: gray;
}
