.edit-card-content {
  display: flex;
  flex-direction: column;
  width: 15rem;
}

.edit-body {
  display: flex;
  flex-direction: row;
}

.edit-grid {
  display: grid;
  align-items: baseline;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  flex-grow: 1;
  padding: 2rem;
  grid-gap: 1rem;
}

.edit-controls {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
  justify-content: right;
}

.edit-controls-update {
  display: flex;
  justify-content: right;
}

.edit-controls-delete {
  display: flex;
  justify-content: right;
}

button.left-aligned {
  margin-right: auto;
}

h1 {
  font-weight: 500;
  font-size: xx-large;
}

mat-card-subtitle {
  font-style: italic;
}

mat-card-title {
  display: flex;
  justify-content: space-between;
}

.column-header {
  font-size: small;
}

.edit-card-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.edit-card-row span {
  width: 2rem;
  color: rgba(0, 0, 0, 0.6);
  text-align: right;
}

/* Ensure that disabled forms look like normal text */
.mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
  color: inherit;
  /* font-family: 'JetBrains Mono', 'Roboto Condensed', monospace; */
  font-weight: 500;
}

/* Remove the underline effect under disabled form inputs */
::ng-deep .mat-form-field-appearance-standard.mat-form-field-disabled .mat-form-field-underline {
  /* background: inherit !important; */
  display: none;
}

.details {
  display: flex;
}

.error-notice {
  text-align: center;
  min-width: 10rem;
  max-width: 30rem;
  margin: auto;
  margin-top: 3rem;
}

.error-title {
  color: darkred;
  font-weight: 500;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.edit-card-content dl {
  display: flex;
  flex-direction: column;  
}

.edit-card-content dt {
  display:flex;
  align-items: baseline;
}

/* Align numbers to the right, as in a table */
mat-form-field {
  text-align: right;
}

dl {
  margin-block-start: 0em;
}

/* Decrease the standard height to compact inputs lists */
::ng-deep dl .mat-form-field-appearance-standard .mat-form-field-flex {
  padding-top: 0px !important;
}

/* Reduce vertical space and limit input width */
::ng-deep dl .mat-form-field-infix {
  border-top-width: 0px;
  width: auto;
  padding-right: 3px;
}

/* Proteins, Fats, Carbs, etc. */
dt h3 {
  display:flex;
  flex-grow: 1;
  align-items: center;
}

dt h4 {
  display:flex;
  flex-grow: 1;
  align-items: center;
  text-indent: 1rem;
}

dt h5 {
  display:flex;
  flex-grow: 1;
  align-items: center;
  text-indent: 2rem;
}

dt > span {
  padding-left: 1.5rem;
  width: 3ch;
  text-align: right;
}

span[matsuffix] {
  font-style: italic;
}

/* Statistics box */

ol {
  padding: 0;
  padding-left: 1ch;
}

ol > li {
  display: flex;  
}

ol > li > span {
  width: 2rem;
  font-style: italic;
}

li a {
  text-decoration: none;
  color: inherit;
}