<mat-toolbar color="primary">
  <section class="sandwich-menu">
    <button class="toolbar-menu" mat-icon-button *ngIf="!isSidenavOpen" (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </section>

  <section class="toolbar-title">
    <ng-content select="[title]"></ng-content>
    <ng-content *ngIf="isDesktop" select="[desktop-title]"></ng-content>
    <ng-content *ngIf="isMobile" select="[mobile-title]"></ng-content>
  </section>

  <section class="toolbar-actions">
    <ng-content *ngIf="isDesktop" select="[desktop-actions]"></ng-content>
    <ng-content *ngIf="isMobile" select="[mobile-actions]"></ng-content>
  </section>
</mat-toolbar>