.sandwich-menu {
  flex: 1 1 0;
}

.toolbar-menu {
  flex: 1 1 0;
}

.toolbar-actions {
  flex: 2 1 0;
}

::ng-deep .toolbar-actions button {
  margin-left: 1rem;
  margin-right: 1rem;
}

.toolbar-title {
  flex: 8 1 0;
  text-align: center;
  font-weight: 500;
}

/* explore ::slotted() */
::ng-deep .toolbar-title a {
  /* padding-left: 0.5rem; */
  /* padding-right: 0.5rem; */
  text-decoration: none;
}

::ng-deep .toolbar-title a::after {
  font-size: 120%;
  padding-right: 1rem;
  padding-left: 1rem;
  content: '/';
}

::ng-deep .toolbar-title a:last-of-type::after {
  content: '';
}

::ng-deep .toolbar-title span {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
