<mat-toolbar color="primary">
  <section class="sandwich-menu">
    <button class="toolbar-menu" mat-icon-button *ngIf="!sidenavOpened" (click)="this.ui.toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </section>
  <section class="toolbar-title">
    <ng-content slot="a" select="a"></ng-content>
    <ng-content select="span"></ng-content>
  </section>
  <span class="toolbar-actions">
    <!-- <ng-content select="a"></ng-content> -->
    <ng-content select="button"></ng-content>
  </span>
</mat-toolbar>