<mat-toolbar color="primary">
  <section class="sandwich-menu">
    <button class="toolbar-menu" mat-icon-button *ngIf="!isSidenavOpen" (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </section>
  <section class="toolbar-title">
    <ng-content slot="a" select="a"></ng-content>
    <ng-content select="span"></ng-content>
  </section>
  <section class="toolbar-actions">
    <ng-content *ngIf="ui.isDesktop" select="[desktop-actions]"></ng-content>
    <ng-content *ngIf="ui.isMobile" select="[mobile-actions]"></ng-content>
    <ng-content select="button"></ng-content>
  </section>
</mat-toolbar>