<app-toolbar>
  <a routerLink="../" routerLinkActive="active">{{ds.date | date:'longDate'}}</a>
  <a>Edit Portion</a>
  <button mat-icon-button (click)="delete()">
    <mat-icon>delete</mat-icon>
  </button>

</app-toolbar>

<ng-container *ngIf="originalPortion; else noMeals">
  <mat-card>
    <mat-card-header class="header">
      <mat-card-title>
        <section class="header">
          <section class="header-left">
            <button mat-icon-button>
              <mat-icon>star_border</mat-icon>
            </button>
          </section>
          <span class="header-title">{{originalPortion.food.name}}</span>
          <section class="header-right">
            <a mat-icon-button [routerLink]="[ '/food/', originalPortion.food.id]">
              <mat-icon>edit</mat-icon>
            </a>
          </section>
        </section>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="summary">
      <section class="macronutrients">
        <div class="macronutrients-section">
          <span class="macronutrients-number">{{previewCalories}}</span>
          <span class="macronutrients-label">Calories</span>
        </div>
        <div class="macronutrients-section">
          <span class="macronutrients-number">{{previewProteins}}</span>
          <span class="macronutrients-label">Proteins</span>
        </div>
        <div class="macronutrients-section">
          <span class="macronutrients-number">{{previewCarbs}}</span>
          <span class="macronutrients-label">Carbs</span>
        </div>
        <div class="macronutrients-section">
          <span class="macronutrients-number">{{previewFats}}</span>
          <span class="macronutrients-label">Fats</span>
        </div>
      </section>

      <section class="inputs">
        <app-quantity-editor [initialValue]="originalPortion.quantity"></app-quantity-editor>
        <mat-button-toggle-group class="meal-toggle-group" [value]="ds.focusedMeal" [formControl]="mealSelector"
          required>
          <mat-button-toggle class="meal-toggle" *ngFor="let kvp of mealTypes | keyvalue" [value]="kvp.key">
            <span [matBadge]="diary.recordedMeals(kvp.key)" matBadgeOverlap="false"
              matBadgeSize="medium">{{kvp.value}}</span>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </section>

      <section class="buttons">
        <button type="button" (click)="reset()" color="primary" mat-raised-button
          [disabled]="portionUnchanged">Reset</button>
        <button type="submit" (click)="save()" color="primary" mat-raised-button
          [disabled]="saveDisabled">Change</button>
      </section>
    </mat-card-content>


  </mat-card>
</ng-container>

<ng-template #noMeals>
  <mat-card class="no-meals"><span>Missing portion</span></mat-card>
</ng-template>