<app-toolbar>
  <h4 title>Recipes</h4>

  <section desktop-actions>
    <button mat-raised-button color="accent" (click)="addNewRecipe()">
      Add Recipe
    </button>
  </section>

  <section mobile-actions>
    <button mat-icon-button (click)="addNewRecipe()">
      <mat-icon>add</mat-icon>
    </button>
  </section>
</app-toolbar>

<mat-progress-spinner class="spinner" *ngIf="dataSource.loading$ | async" mode="indeterminate"></mat-progress-spinner>

<mat-table [dataSource]="dataSource" matSort class="mat-elevation-z6">
  <ng-container matColumnDef="name">
    <mat-header-cell mat-header-cell mat-sort-header *matHeaderCellDef class="cell">Name</mat-header-cell>
    <mat-cell class="cell" *matCellDef="let element">{{element.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="ingredientsCount">
    <mat-header-cell mat-header-cell mat-sort-header *matHeaderCellDef class="cell">Ingredients</mat-header-cell>
    <mat-cell class="cell" *matCellDef="let element">{{element.ingredientsCount}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="calories">
    <mat-header-cell mat-header-cell mat-sort-header *matHeaderCellDef class="cell">Calories</mat-header-cell>
    <mat-cell class="cell" *matCellDef="let element">{{element.calories | number:'1.0-0'}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="selectedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: selectedColumns" matRipple (click)="edit(row)"></mat-row>
</mat-table>

<mat-paginator [length]="dataSource?.recipesCount" [pageSize]="pageSizeOptions[0]" [pageSizeOptions]="pageSizeOptions">
</mat-paginator>