<h2>Add Food</h2>

<mat-stepper orientation="vertical" linear="true" #stepper>
  <mat-step [stepControl]="identification">
    <form [formGroup]="identification">
      <ng-template matStepLabel>Name the food</ng-template>
      <div class="inputs">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input type="text" matInput placeholder="Bananas, Ripe" autocomplete="off-blather" formControlName="name">
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="macronutrients">
    <form [formGroup]="macronutrients">
      <ng-template matStepLabel>Enter macronutrients <i>(in grams)</i></ng-template>
      <div class="inputs">
        <mat-form-field appearance="fill">
          <mat-label>Proteins</mat-label>
          <input type="number" matInput formControlName="proteins" autocomplete="off" min="0" max="99" step="1">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Carbohydrates</mat-label>
          <input type="number" matInput formControlName="carbs" autocomplete="off" min="0" max="99" step="1">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Fats</mat-label>
          <input type="number" matInput formControlName="fats" autocomplete="off" min="0" max="99" step="1">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Alcohol</mat-label>
          <input type="number" matInput formControlName="alcohol" autocomplete="off" min="0" max="99" step="1">
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="details" optional="true">
    <form [formGroup]="details">
      <ng-template matStepLabel>Enter additional nutrients <i>(in grams)</i></ng-template>
      <div class="inputs">
        <div class="details-column">
          <mat-form-field appearance="fill">
            <mat-label>Starch</mat-label>
            <input type="number" matInput formControlName="starch" min="0" max="99" step="1">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Sugar</mat-label>
            <input type="number" matInput formControlName="sugar" min="0" max="99" step="1">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Fibres</mat-label>
            <input type="number" matInput formControlName="fibres" min="0" max="99" step="1">
          </mat-form-field>
        </div>
        <div class="details-column">
          <mat-form-field appearance="fill">
            <mat-label>Saturated</mat-label>
            <input type="number" matInput formControlName="saturated" min="0" max="99" step="1">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Monounsaturated</mat-label>
            <input type="number" matInput formControlName="monounsaturated" min="0" max="99" step="1">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Polyunsaturated</mat-label>
            <input type="number" matInput formControlName="polyunsaturated" min="0" max="99" step="1">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Trans</mat-label>
            <input type="number" matInput formControlName="trans" min="0" max="99" step="1">
          </mat-form-field>
        </div>
        <div class="details-column">
          <mat-form-field appearance="fill">
            <mat-label>Cholesterol</mat-label>
            <input type="number" matInput formControlName="cholesterol" min="0" max="99" step="1">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Omega-3</mat-label>
            <input type="number" matInput formControlName="omega3" min="0" max="99" step="1">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Omega-6</mat-label>
            <input type="number" matInput formControlName="omega6" min="0" max="99" step="1">
          </mat-form-field>
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="details" optional="true">
    <form [formGroup]="micronutrients">
      <ng-template matStepLabel>Enter Micronutrients <i>(in grams)</i></ng-template>
      <div class="inputs">
        <div class="details-column">
          <mat-form-field appearance="fill">
            <mat-label>Sodium</mat-label>
            <input type="number" matInput formControlName="sodium" min="0" max="10000" step="10">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Calcium</mat-label>
            <input type="number" matInput formControlName="calcium" min="0" max="10000" step="10">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Potassium</mat-label>
            <input type="number" matInput formControlName="potassium" min="0" max="10000" step="10">
          </mat-form-field>
        </div>
        <div class="details-column">
          <mat-form-field appearance="fill">
            <mat-label>Magnesium</mat-label>
            <input type="number" matInput formControlName="magnesium" min="0" max="10000" step="10">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Zinc</mat-label>
            <input type="number" matInput formControlName="zinc" min="0" max="10000" step="10">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Iron</mat-label>
            <input type="number" matInput formControlName="iron" min="0" max="10000" step="10">
          </mat-form-field>
        </div>

      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="description" optional="true">
    <form [formGroup]="description">
      <ng-template matStepLabel>Describe the food</ng-template>
      <div class="inputs description">
        <mat-form-field appearance="fill">
          <mat-label>Source</mat-label>
          <input type="text" matInput placeholder="A URL, or label" autocomplete="off-blather" formControlName="source">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Notes</mat-label>
          <textarea matInput placeholder="A succinct list of comments" autocomplete="off-blather"
            formControlName="notes"></textarea>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="addFood()">Add Food</button>
    </div>
  </mat-step>
</mat-stepper>