<div class="stat-main">
  <div class="margin">
    <h1>Mood Statistics</h1>

    <form [formGroup]="controls">
      <div class="controls">

        <section>
          <h3>Records</h3>
          <mat-button-toggle-group formControlName="records" aria-label="Number of records">
            <mat-button-toggle value="15">15</mat-button-toggle>
            <mat-button-toggle value="30">30</mat-button-toggle>
            <mat-button-toggle value="50">50</mat-button-toggle>
          </mat-button-toggle-group>
        </section>

        <section>
          <mat-form-field appearance="fill">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate formControlName="startDate" placeholder="Start date">
              <input matEndDate formControlName="endDate" placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>

            <mat-error *ngIf="controls.controls.startDate.hasError('matStartDateInvalid')">Invalid start date
            </mat-error>
            <mat-error *ngIf="controls.controls.endDate.hasError('matEndDateInvalid')">Invalid end date</mat-error>
          </mat-form-field>
        </section>
      </div>
    </form>
  </div>

  <div class="contents">
    <mat-form-field appearance="fill" class="selector">
      <mat-label>Mood Statistics</mat-label>
      <mat-select [formControl]="statSelector">
        <mat-option value="nothing">
          Nothing
        </mat-option>
        <mat-option value="high-mood-foods">
          Foods Linked to Positive Mood
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <section class="loading-notice" *ngIf="loading$ | async">
      <h3>loading</h3>
      <mat-spinner></mat-spinner>
    </section> -->

    <ng-container [ngSwitch]="chosenStat$ | async">
      <section *ngSwitchDefault>Select item above</section>
      <section *ngSwitchCase="'high-mood-foods'">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let element"> <a
                [routerLink]="['/foods/' + element.shortUrl]">{{element.name}}</a></td>
          </ng-container>

          <ng-container matColumnDef="total">
            <th class="numeric-column" mat-header-cell *matHeaderCellDef mat-sort-header>Times</th>
            <td class="numeric-column" mat-cell *matCellDef="let element"> {{element.total}} </td>
          </ng-container>

          <ng-container matColumnDef="percent">
            <th class="numeric-column" mat-header-cell *matHeaderCellDef mat-sort-header>Percent</th>
            <td class="numeric-column" mat-cell *matCellDef="let element"> {{element.percent | percent}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['name', 'total', 'percent']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['name', 'total', 'percent'];"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[15]">
        </mat-paginator>

      </section>
    </ng-container>
  </div>



</div>