<app-toolbar>
  <a routerLink="../.." routerLinkActive="active">{{ds.date | date:'longDate'}}</a>
  <a routerLink="../" routerLinkActive="active">Select Food</a>
  <a>Add Portion</a>
</app-toolbar>

<ng-container *ngIf="food !== undefined">
  <mat-card>
    <mat-card-header class="header">
      <mat-card-title>
        <section class="header">
          <section class="header-left">
            <button mat-icon-button>
              <mat-icon>star_border</mat-icon>
            </button>
          </section>
          <span class="header-title">{{food.name}}</span>
          <section class="header-right">
            <a mat-icon-button [routerLink]="[ '/food/', food.id]">
              <mat-icon>edit</mat-icon>
            </a>
          </section>
        </section>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="summary">
      <section class="macronutrients">
        <div class="macronutrients-section">
          <span class="macronutrients-number">{{previewedPortion.calories}}</span>
          <span class="macronutrients-label">Calories</span>
        </div>
        <div class="macronutrients-section">
          <span class="macronutrients-number">{{previewedPortion.proteins}}</span>
          <span class="macronutrients-label">Proteins</span>
        </div>
        <div class="macronutrients-section">
          <span class="macronutrients-number">{{previewedPortion.carbs}}</span>
          <span class="macronutrients-label">Carbs</span>
        </div>
        <div class="macronutrients-section">
          <span class="macronutrients-number">{{previewedPortion.fats}}</span>
          <span class="macronutrients-label">Fats</span>
        </div>
      </section>

      <section class="inputs">
        <mat-form-field class="quantity" [formGroup]="portionForm">
          <section>
            <input class="quantity-editor" matInput type="number" autocomplete="off" formControlName="quantity" />
            <span matSuffix class="quantity-unit">grams</span>
            <mat-error *ngIf="quantitiesControl.invalid">{{getQuantitiesControlError()}}</mat-error>
          </section>

        </mat-form-field>

        <mat-button-toggle-group class="meal-toggle-group" [value]="ds.focusedMeal" [formControl]="mealSelector"
          required>
          <mat-button-toggle class="meal-toggle" *ngFor="let availableMeal of availableMeals" [value]="availableMeal">
            <span [matBadge]="diary?.recordedMeals(availableMeal)" matBadgeOverlap="false"
              matBadgeSize="medium">{{getMealName(availableMeal)}}</span>
          </mat-button-toggle>
        </mat-button-toggle-group>

      </section>

      <section class="buttons">
        <button type="submit" (click)="save()" color="primary" mat-raised-button [disabled]="saveDisabled">Save</button>
      </section>
    </mat-card-content>


  </mat-card>
</ng-container>