<section class="dialog" mat-dialog-content>
    <a class="food-name" tabindex="-1" [routerLink]="['../foods/', data.portion.food.id]"
        (click)="dismiss()">{{data.portion.food.name}}</a>
    <app-quantity-editor [initialValue]="data.portion.quantity"></app-quantity-editor>
    <mat-select [formControl]="mealSelector" class="meal-selector">
        <mat-option *ngFor="let kvp of mealTypes | keyvalue" [value]="kvp.key">
            {{kvp.value}}
        </mat-option>
    </mat-select>

</section>
<section mat-dialog-actions class="actions">
    <button mat-flat-button color="warn" (click)="deletePortion()">Delete</button>
    <button mat-flat-button mat-dialog-close>Dismiss</button>
    <button mat-flat-button color="accent" (click)="save()" [disabled]="!saveable">Save</button>
</section>