.main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  margin-top: 3rem;
}

.meal-selector {
  margin-bottom: 2rem;
  width: 12ch;
}

.ingredients-container {
  display: flex;
  flex-direction: column;
}

.ingredient-row {
  display: flex;
  align-items: baseline;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.ingredient-row-name {
  width: 20rem;
  padding-right: 1rem;
  flex-grow: 3;
}

.ingredient-row-quantity {
  width: 5rem;
  text-align: center;
  padding-right: 1rem;
  flex-grow: 1;
}

.ingredient-row-controls {
  flex-grow: 2;
  margin-left: 2rem;
}

.save {
  position: fixed;
  right: 26px;
  bottom: 26px;
}
