section.notice {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
}

.error {
  background-color: #f2dede;
  color: darkred;
}

.information {
  background-color: aliceblue;
}
