<section class="contents">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="back()">
      <mat-icon>
        close
      </mat-icon>
    </button>

    <ng-container *ngIf="addingNewPortion; else editPortionTitle">
      <span class="toolbar-title">New Portion</span>
      <button mat-icon-button (click)="save()" [disabled]="saveDisabled">
        <mat-icon>done</mat-icon>
      </button>
    </ng-container>

    <ng-template #editPortionTitle>
      <span class="toolbar-title">Edit Portion</span>
      <button mat-icon-button (click)="change()" [disabled]="saveDisabled">
        <mat-icon>done</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions Menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="undo()" [disabled]="undoDisabled">
          <mat-icon>undo</mat-icon>
          <span>Undo Changes</span>
        </button>
        <button mat-menu-item (click)="delete()">
          <mat-icon>delete</mat-icon>
          <span>Delete Portion</span>
        </button>
      </mat-menu>
    </ng-template>

  </mat-toolbar>

  <ng-container *ngIf="show">
    <section class="header">

      <h3>{{previewedPortion.food.name}}</h3>

    </section>
    <section class="summary">


    </section>

    <section class="inputs">
      <section class="quantity-inputs">

        <section class="quantity-inputs-controls">
          <button mat-flat-button class="spinner-button" (click)="addGrams(-1)">
            <mat-icon>remove</mat-icon>
          </button>
          <mat-form-field appearance="outline" class="quantity-input">
            <mat-label>grams</mat-label>
            <input matInput type="number" [formControl]="quantityInput">
            <mat-error *ngIf="quantityInput.invalid">{{quantityError}}</mat-error>
          </mat-form-field>
          <button mat-flat-button class="spinner-button" (click)="addGrams(1)">
            <mat-icon>add</mat-icon>
          </button>
        </section>

        <section class="quantity-inputs-shortcuts">
          <button mat-flat-button (click)="quantityInput.setValue(0)">0</button>
          <button mat-flat-button (click)="addGrams(10)">+10</button>
          <button mat-flat-button (click)="addGrams(50)">+50</button>
          <button mat-flat-button (click)="addGrams(100)">+100</button>
        </section>
        <!-- <mat-error *ngIf="hasQuantityError">{{quantityEditor.error}}</mat-error> -->
      </section>
    </section>

    <section class="meals-controls">
      <mat-button-toggle-group [vertical]="true" class="meal-toggle-group" [formControl]="mealSelector" required>
        <mat-button-toggle class="meal-toggle" *ngFor="let meal of mealTypes" [value]="meal">
          <span [matBadge]="diary?.recordedMeals(meal)" matBadgeOverlap="false" matBadgeSize="medium">{{meal}}</span>
        </mat-button-toggle>
      </mat-button-toggle-group>

    </section>

  </ng-container>
</section>