.portions-table {
  flex-grow: 5;
  overflow-y: scroll;
}

/* Column selector and diary aggregates */

.header {
  display: flex;
  /* matches the padding of the cards below  */
  padding-right: 1rem;
  padding-left: 1rem;
  margin: 1rem;
  margin-top: 0%;
  align-items: center;
}

.columns-selector {
  font-size: 120%;
  width: 16ch;
}

.header-notes {
  flex-basis: 65%;
}

.header-columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 35%;
  /* matches the height of the calories graph on smallscreens */
  height: 5rem;
}

.header-chart {
  width: 5rem;
  height: 5rem;
}

.total-aggregate-column {
  display: flex;
  flex-direction: column;
  width: 4ch;
  align-items: flex-end;
  font-weight: 500;
  font-size: 120%;
}

.total-aggregate-label {
  font-style: italic;
  font-size: 80%;
  margin-bottom: 0.5rem;
}

/* Meal cards */

.meals {
  margin: 0px;
  margin-top: 20px;
}

.meal-block {
  margin: 1rem;
}

.meal-header {
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 120%;
  padding-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.03);
}

.meal-header-title {
  flex-wrap: nowrap;
  flex-basis: 65%;
  font-weight: 500;
  padding-left: 1rem;
}

.meal-header-aggregate {
  display: flex;
  flex-basis: 35%;
  font-weight: 500;
  justify-content: space-between;
  padding-right: 1rem;
}

.meal-header-macro {
  width: 4ch;
  text-align: right;
}

/* Portions list */

mat-nav-list-item {
  margin-bottom: 5px;
}

::ng-deep mat-list-item > div.mat-list-item-content {
  padding: 0px !important;
}

.portion-header {
  display: flex;
  flex-direction: column;
  /* flex-basis: 65%; */
  flex-grow: 1;
}

.portion-header-quantity {
  font-style: italic;
  font-size: 80%;
  /* font-family: 'Roboto Mono', monospace; */
  color: gray;
}

.portion-row {
  display: flex;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  justify-content: space-between;
  padding: 0 1rem 5px 1rem;
}

.portion-value {
  font-family: 'Roboto Mono', monospace;
  font-size: 90%;
}

/* Decrease the visibility of the colum */
.secondary-value {
  font-size: 80%;
  font-style: italic;
}

.tabular-value {
  font-variant-numeric: lining-nums tabular-nums;
}
