<section class="portions-table">

    <div class="header">
        <section class="header-notes">
            <mat-form-field class="columns-selector">
                <mat-select [formControl]="columnSelector" required>
                    <mat-option *ngFor="let column of columnSet; let i = index" [value]="i">
                        {{column}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </section>

        <ng-container [ngSwitch]="focusedSet">

            <section *ngSwitchCase="2" class="header-columns">
                <section class="total-aggregate-column">
                    <span class="mat-caption total-aggregate-label">Sat</span>
                    <span>{{diary.getTotalProperty('saturated') | number:'1.0-0'}}</span>
                </section>
                <section class="total-aggregate-column">
                    <span class="mat-caption total-aggregate-label">Mono</span>
                    <span>{{diary.getTotalProperty('monounsaturated') | number:'1.0-0'}}</span>
                </section>
                <section class="total-aggregate-column">
                    <span class="mat-caption total-aggregate-label">Poly</span>
                    <span>{{diary.getTotalProperty('polyunsaturated') | number:'1.0-0'}}</span>
                </section>
            </section>

        </ng-container>

    </div>

    <div class="meals">
        <div class="meal-block mat-elevation-z5" *ngFor="let kvp of diary.meals | keyvalue">

            <header [ngSwitch]="focusedSet" class="meal-header">
                <span class="meal-header-title">
                    {{kvp.key}}
                    <button mat-icon-button color="primary" [matMenuTriggerFor]="menu" aria-label="Actions Menu">
                        <mat-icon>expand_more</mat-icon>
                    </button>

                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="deletePortions(kvp.value)"
                            [disabled]="diary.recordedMeals(kvp.key) == 0">
                            <mat-icon>delete</mat-icon>
                            <span>Delete All</span>
                        </button>
                        <button mat-menu-item (click)="addPortion(kvp.key)">
                            <mat-icon>add</mat-icon>
                            <span>Add Portions</span>
                        </button>
                    </mat-menu>
                </span>

                <span *ngSwitchCase="0" class="meal-header-aggregate">
                    <span class="secondary-value">{{diary.getMealCaloriesPercentage(kvp.key) | percent}}</span>
                    <span class="tabular-value">{{diary.getMealProperty(kvp.key, 'calories') |
                        number:'1.0-0'}}</span>
                </span>

                <span *ngSwitchCase="1" class="meal-header-aggregate">
                    <span class="secondary-value">{{diary.getMealProteinCaloriesPercentage(kvp.key) | percent}}</span>
                    <span class="tabular-value"
                        [ngClass]="{'proteins': settings.useMacroColours}">{{diary.getMealProperty(kvp.key, 'proteins')
                        | number:'1.0-0'}}</span>
                </span>

            </header>

            <mat-nav-list>
                <mat-list-item *ngFor="let portion of kvp.value">
                    <a [ngSwitch]="focusedSet" (click)="editPortion(portion)" class="portion-row">
                        <span class="portion-header">
                            <span>{{portion.food.name}}</span>
                            <span class="portion-header-quantity">{{portion.quantity | number:'1.0-0'}} g.</span>
                        </span>

                        <span *ngSwitchCase="0" class="portion-value tabular-value">
                            {{portion.calories | number:'1.0-0'}}
                        </span>

                        <span *ngSwitchCase="1" class="portion-value">
                            {{portion.proteins | number:'1.0-0'}}
                        </span>

                        <span *ngSwitchCase="2" class="portion-value">
                            {{portion.proteins | number:'1.0-0'}}
                        </span>

                        <span *ngSwitchCase="3" class="portion-value">
                            {{portion.fats | number:'1.0-0'}}
                        </span>

                    </a>
                </mat-list-item>
            </mat-nav-list>

        </div>

    </div>

</section>