.tabs-contents {
  margin: auto;
  margin-top: 15%;
  max-width: 25em;
  min-height: 20em;
}

.label {
  display: flex;
  align-items: center;
}

.label span {
  padding-left: 1ch;
}

.container {
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 2em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
}

.form-row > * :first-child {
  width: 100%;
}

.login-button {
  margin: auto;
  margin-top: 3em;
  width: 10em;
}

/* must match the colour of the form background, white or grey when form fields are filled */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f5f5f5 inset !important;
}
