<div class="container">

    <section class="table">

        <div class="header">
            <section class="header-notes">
                <mat-form-field class="columns-selector">
                    <mat-select [formControl]="columnSelector" required>
                        <mat-option *ngFor="let column of columnSet; let i = index" [value]="i">
                            {{column}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </section>


            <ng-container [ngSwitch]="focusedSet">

                <section *ngSwitchCase="0" class="header-columns">
                    <section class="total-aggregate-column">
                        <span class="total-aggregate-label">Prot</span>
                        <span class="total-aggregate-value">{{diary.proteins | number:'1.0-0'}}</span>
                    </section>
                    <section class="total-aggregate-column">
                        <span class="total-aggregate-label">Carbs</span>
                        <span class="total-aggregate-value">{{diary.carbs | number:'1.0-0'}}</span>
                    </section>
                    <section class="total-aggregate-column">
                        <span class="total-aggregate-label">Fats</span>
                        <span class="total-aggregate-value">{{diary.fats | number:'1.0-0'}}</span>
                    </section>
                    <section class="total-aggregate-column important-column">
                        <span class="total-aggregate-label">Calories</span>
                        <span class="total-aggregate-value">{{diary.calories | number:'1.0-0'}}</span>
                    </section>
                </section>

                <section *ngSwitchCase="1" class="header-columns">
                    <section class="total-aggregate-column">
                        <span class="total-aggregate-label">Trans</span>
                        <span>{{diary.getTotalProperty('trans') | number:'1.0-0'}}</span>
                    </section>
                    <section class="total-aggregate-column">
                        <span class="total-aggregate-label">Mono</span>
                        <span>{{diary.getTotalProperty('monounsaturated') | number:'1.0-0'}}</span>
                    </section>
                    <section class="total-aggregate-column">
                        <span class="total-aggregate-label">Poly</span>
                        <span>{{diary.getTotalProperty('polyunsaturated') | number:'1.0-0'}}</span>
                    </section>
                    <section class="total-aggregate-column">
                        <span class="total-aggregate-label">Sat</span>
                        <span>{{diary.getTotalProperty('saturated') | number:'1.0-0'}}</span>
                    </section>
                    <section class="total-aggregate-column important-column">
                        <span class="total-aggregate-label">Fats</span>
                        <span>{{diary.fats | number:'1.0-0'}}</span>
                    </section>
                </section>
            </ng-container>
        </div>

        <mat-accordion class="meals-container" multi="true">
            <mat-expansion-panel [expanded]="true" hideToggle *ngFor="let kvp of diary.meals | keyvalue">

                <mat-expansion-panel-header>
                    <span [ngSwitch]="focusedSet" class="meal-header mat-subheading-2">
                        <span class="meal-header-title">{{kvp.key}}</span>

                        <span *ngSwitchCase="0" class="meal-header-aggregate">
                            <span class="meal-header-macro"
                                [ngClass]="{'proteins': settings.useMacroColours}">{{diary.getMealProperty(kvp.key,
                                'proteins') | number:'1.0-0'}}</span>
                            <span class="meal-header-macro"
                                [ngClass]="{'carbs': settings.useMacroColours}">{{diary.getMealProperty(kvp.key,
                                'carbs') | number:'1.0-0'}}</span>
                            <span class="meal-header-macro"
                                [ngClass]="{'fats': settings.useMacroColours}">{{diary.getMealProperty(kvp.key, 'fats')
                                | number:'1.0-0'}}</span>
                            <span class="meal-header-macro important-column">{{diary.getMealProperty(kvp.key,
                                'calories') | number:'1.0-0'}}</span>
                        </span>

                        <span *ngSwitchCase="1" class="meal-header-aggregate">
                            <span class="meal-header-macro">{{diary.getMealProperty(kvp.key, 'trans') |
                                number:'1.0-0'}}</span>
                            <span class="meal-header-macro">{{diary.getMealProperty(kvp.key, 'monounsaturated') |
                                number:'1.0-0'}}</span>
                            <span class="meal-header-macro">{{diary.getMealProperty(kvp.key, 'polyunsaturated') |
                                number:'1.0-0'}}</span>
                            <span class="meal-header-macro">{{diary.getMealProperty(kvp.key, 'saturated') |
                                number:'1.0-0'}}</span>
                            <span class="meal-header-macro important-column">{{diary.getMealProperty(kvp.key, 'fats') |
                                number:'1.0-0'}}</span>
                        </span>
                    </span>
                </mat-expansion-panel-header>

                <mat-nav-list>
                    <mat-list-item *ngFor="let portion of kvp.value">
                        <a [ngSwitch]="focusedSet" (click)="editPortion(portion)" class="largescreen-row">
                            <span class="portion-header">
                                <span>{{portion.food.name}}</span>
                                <span class="portion-header-quantity">{{portion.quantity | number:'1.0-0'}} g.</span>
                            </span>

                            <span *ngSwitchCase="0" class="portion-column">
                                <span class="portion-macro"
                                    [ngClass]="{'proteins': settings.useMacroColours}">{{portion.proteins |
                                    number:'1.0-0'}}</span>
                                <span class="portion-macro"
                                    [ngClass]="{'carbs': settings.useMacroColours}">{{portion.carbs |
                                    number:'1.0-0'}}</span>
                                <span class="portion-macro"
                                    [ngClass]="{'fats': settings.useMacroColours}">{{portion.fats |
                                    number:'1.0-0'}}</span>
                                <span class="portion-macro important-column">{{portion.calories |
                                    number:'1.0-0'}}</span>
                            </span>

                            <span *ngSwitchCase="1" class="portion-column">

                                <span class="portion-macro">{{portion.getTotalProperty('trans') |
                                    number:'1.0-0'}}</span>
                                <span class="portion-macro">{{portion.getTotalProperty('monounsaturated') |
                                    number:'1.0-0'}}</span>
                                <span class="portion-macro">{{portion.getTotalProperty('polyunsaturated') |
                                    number:'1.0-0'}}</span>
                                <span class="portion-macro">{{portion.getTotalProperty('saturated') |
                                    number:'1.0-0'}}</span>
                                <span class="portion-macro important-column">{{portion.fats | number:'1.0-0'}}</span>

                            </span>
                        </a>
                    </mat-list-item>
                </mat-nav-list>

                <mat-action-row>
                    <button mat-button color="warn" (click)="deletePortions(kvp.value)"
                        [disabled]="diary.recordedMeals(kvp.key) == 0">
                        Remove Meal
                    </button>
                    <button mat-button color="accent" (click)="addPortion(kvp.key)">
                        Add Portions
                    </button>
                </mat-action-row>

            </mat-expansion-panel>

        </mat-accordion>

    </section>

    <aside class="sidebar">


    </aside>

    <!-- <section class="comment">
        <mat-form-field appearance="outline">
            <mat-label>Comment</mat-label>
            <textarea matInput autocomplete="off" [formControl]="commentTextarea" (change)="editComment()"></textarea>
        </mat-form-field>
    </section> -->

</div>