<app-toolbar>
  <a routerLink="../" routerLinkActive="active">{{ds.date | date:'longDate'}}</a>
  <a>Select Food</a>
</app-toolbar>

<form class="inputs" [formGroup]="filterForm">
  <mat-form-field class="search">
    <mat-label>Search</mat-label>
    <input type="search" matInput #searchBoxInput [formControl]="searchBox" autocomplete="off" (keyup)="search($event)">
    <button matSuffix mat-icon-button (click)="resetSearch()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="meal-selector mat-body">
    <mat-select [formControl]="mealSelector" required>
      <mat-select-trigger>
        <span>{{mealTypes.get(mealSelector.value)}}</span>
      </mat-select-trigger>
      <mat-option *ngFor="let kvp of mealTypes | keyvalue" [value]="kvp.key">
        <span *ngIf="diary" [matBadge]="diary.recordedMeals(kvp.key)" matBadgeOverlap="false"
          matBadgeSize="small">{{kvp.value}}</span>
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>

<mat-divider></mat-divider>

<ng-container *ngIf="filteredFoods$ | async as filteredFoods">
  <mat-nav-list *ngIf="filteredFoods.length > 0">
    <a mat-list-item routerLink class="search-item" *ngFor="let portion of filteredFoods"
      (click)="proceedWithSelection(portion)">
      <mat-icon *ngIf="!isRecipe(portion); else recipeMarker" class="search-item-icon" matListIcon>label</mat-icon>
      <ng-template #recipeMarker>
        <mat-icon class="search-item-icon" matListIcon>list</mat-icon>
      </ng-template>
      <span class="search-item-name">{{portion.name}}</span>
      <span class="search-item-calories">{{portion.calories | number:'1.0-0'}}</span>
    </a>
  </mat-nav-list>

  <mat-divider></mat-divider>

  <section class="no-results" *ngIf="filteredFoods.length === 0 && searchBox.value !== ''">
    <span class="no-results-message"><b>{{searchBox.value}}</b> not found</span>
    <button mat-raised-button color="primary" (click)="startFoodCreation()">Create</button>
  </section>
</ng-container>